.spot {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
  color: darkgrey;
  font-size: 18px;
  margin-left: 15px;

  img {
    object-fit: cover;
    width: 200px;
    height: 200px;
  }

  a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
  }

  &__content {
    display: flex;
  }
}

