.spot {
  color: darkgrey;
  font-size: 18px;
  margin: 0 15px 35px 0;

  img, video {
    object-fit: cover;
    width: 200px;
    height: 200px;
  }

  a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
  }

  &__content {
    display: flex;
  }
}

