.article {
    max-width: 1200px;
    margin: 0 auto;
    
    img {
        object-fit: cover;
        width: 1200px;
        height: 700px;
    }
    
    a {
        font-size: 27px;
        color: darkorange;
        text-decoration: none;
        text-align: left;
    }    
    
    &__content {
        margin-bottom: 120px;
    }
}
